.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.outerContainer {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.background {
  background-image: url(Backgrounds/light_honeycomb/light_honeycomb_@2X.png);
  /* Background pattern from Toptal Subtle Patterns */
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
